#createPanel(hidden).panel
	h1 Create Artefact
	hr
	
	#innerWrap


		form(action="/create" method="POST")#createform

			legend
				input(type="text" name="artefactName" placeholder="Artefact Name")
			br

			legend
				input(type="text" name="artefactVersion" placeholder="Artefact Version")
			br

			legend
				select(name="artefactType")
					option(value="1" disabled="disabled" selected="selected") Type
					option(value="Release") Release
					option(value="Bugfix") Bugfix
					option(value="Feature") Feature
			br

			legend
				input(type="file" name="artefactFile" placeholder="Artefact File")
			br

			button(type="button")#submit
				span.fa.fa-check &nbsp;&nbsp;
				span CREATE