#createPanel(hidden).panel
	h1 Create Artefact
	hr
	
	#innerWrap


		form(action="/create" method="POST")#createform
			legend 
				input(type="text" name="hash")
			br

			legend
				input(type="text" name="artefactName" placeholder="Artefact Name")
			br

			legend
				input(type="text" name="artefactVersion" placeholder="Artefact Version")
			br

			legend
				select(name="artefactType")
					option(value="1" disabled="disabled" selected="selected") Type
					option(value="1") Release
					option(value="2") Bugfix
					option(value="3") Feature
			br

			button(type="button")#submit
				span.fa.fa-check &nbsp;&nbsp;
				span CREATE