#homePanel.panel
	div
		h1 Blockchain Demo
		hr
		

		.marblesWrap
			.legend(style="text-align:right;") #{bag.setup.USER1}
			ul#user1wrap.sortable &nbsp;

		
		.marblesWrap(style="float:right;")
			.legend #{bag.setup.USER2}
			ul#user2wrap(style="text-align:left;").sortable &nbsp;
			#artefactDetails
